<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=divice-width, initial-scale=1.0"> 
        <title>Hello world</title>
        <link rel="stylesheet" href="/stylesheets/style_1.css"> 
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header"></div> 
        <div class="container">
            <div class="posts">
            <div class="send_message">
                <h5>Stop the count!</h5>
                <div class="send_message_footer">
                    <div class="send_message_photo"></div>
                    <div class="button_block">
                        <span class="span"></span>
                        <div class="button"><p>Отправить</p></div>
                    </div>
                </div>
            </div>
            <div class="old_posts"></div>
            </div>  
            <div class="user_story"></div>
        </div>
    </body>
</html>